
* {

	background-color: #00ffff !important;

}


h1 {

	display: inline;
	font-family: Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
	font-size: 200px;
	margin-top: 10px;
  margin-bottom: 10px;

}

h1:after {

	color: rgba(255,0,0,0.5);   

}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    }

.song {

text-align: center;
vertical-align: middle;
line-height: 90px;
font-family: Helvetica;
border-radius: 5px 20px 5px;

}



#post_button {

background-color: #0066FF !important; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
position: relative;
top: 50%;
left: 39%;
border-radius: 25px;
margin: 25px;

	

}

#post_button:hover {

	transform: scale(1.1);
	
}


.styled_input {

text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 25px;
border: solid;
position: fixed;
top: 45%;
left: 48%;
transform: translate(-50%, -50%);

}


.button_3 {

background-color: #0066FF !important; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
position: relative;
top: 50%;
left: 5%;
border-radius: 25px;
margin: 25px;


}



.button_3:hover {

	transform: scale(1.1);
	
}


.box_1 {

border: solid;


}

.box_2 {

border: solid;


}


.box_3 {

border: solid;


}


.form-signin-heading {

text-align: center;
font-family: Helvetica, Sans-Serif;
letter-spacing: -5px;
color: rgba(0,0,255,0.5);
font-size: 100px;



}


.form-signin  {

background-color: white !important;

}

.sr-only {

background-color: white !important;


}



.form-control {

background-color: white !important;


}
 .submit{

background-color: white !important;

}

.inner {

position: absolute;
top: 8px;
left: 16px;
font-size: 25px;

}






