
<%if @song.errors && @song.errors.any? %>
  <div>
    <strong>Issues with your song post, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |song| %>
        <li> <%= song %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/songs">
  <div>
    <label>Song</label>
    <input type="text" name="title" value="<%= @song && @song.title %>"></input>
  </div>
  <div>
    <label>Artist</label>
    <input type="text" name="author" value="<%= @song && @song.author %>"></input>
  </div>
  <div>
    <label>URL</label>
    <input type="text" name="content" value="<%= @song && @song.content %>"></input>
  </div>
  <div>
    <input type="submit" value="submit">
  </div>
</form>