<div class = "inner">
<h1> Song Lister </h1>
	<nav>
		<ul class= "nav master-nav">
			<li class = "active">
				<a href = "/"> Home </a>
			</li>
			<li>
				<a href = "#"> Featured songs </a>
			</li>
			<li>
				<a href = "/users/login"> Login </a>
			</li>
			</ul>
	</nav>
</div>


<% @songs.each do |song| %>
  <div class="song">
    <h3>
    	<a href ="/songs/new <%= song.id %>"><%= song.title %> </a> <small> (by: <%= song.author %>)</small>
    </h3>
    <p>
    	<%= song.content %>
    </p>	
  </div>
<% end %>


<!-- <a href="/songs/new"> Post your favourite song! </a> -->

<a class = "btn btn-primary btn-lg" href="/songs/new" id = "post_button" > Post your favourite song! </a> 


