<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script src="/javascript/bootstrap.js"></script>

  <title></title>
</head>
<body>
  
  <!-- nav   -->
    
    <nav>
      <h1> Song Lister </h1>
      <ul class= "nav master-nav">
        <li class = "active">
          <a href = "/"> Home </a>
        </li>
        <li>
          <a href = "#"> Featured songs </a>
        </li>
        <li>
          <% if current_user %>
            <h6>Welcome, <%= current_user.name %></h6>
            <a href="/user/logout">Logout</a>
          <% else %>
            <a href = "/users/login"> Login </a>
          <% end %>
        </li>
      </ul>
    </nav>

  <!-- page content -->
  <%= yield %>
</body>
</html>

