<div class = "inner" >
<h1 class = masterhead-brand> Song Lister </h1>
</div>
<% @songs.each do |song| %>
  <div class="song">
    <h3>
    	<a href ="/songs/new <%= song.id %>"><%= song.title %> </a> <small> (by: <%= song.author %>)</small>
    </h3>
    <p>
    	<%= song.content %>
    </p>	
  </div>
<% end %>



<a class = "btn btn-primary btn-lg" href="/new" id = "post_button" > Post your favourite song! </a>